<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Bienvenidos a Bolivia</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Un lugar maravilloso donde la magia, la naturaleza es posible.</h2>
      <a href="#about" class="btn btn-primary js-scroll-trigger">Empecemos</a>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Bolivia Destino Turistico</h2>
        <p class="text-white-50">La agencia de viajes BOLIVIA UNO, les da la bienvenida a 
          nuestro sitio web, donde usted podrá encontrar todo referente a los tours en Bolivia. 
          Nos especializamos a realizar itinerarios hechos a su medida, usted puede comunicarse con nosotros
          y ponerse en contacto con nuestro equipo para otorgarle un servicio profesional donde le ayudaremos
          a planificar su viaje.</p>
      </div>
    </div>
    <img src="../../../assets/img/illimani2.jpg" class="img-fluid" alt="">
  </div>
</section>